{{ define "main" }}
<main class="py-12 md:py-32 max-w-screen-xl px-5 mx-auto">
  <div class="flex justify-center mb-3 md:mb-8">
    <div class="mb-10 flex flex-col items-center justify-center">
      <div class="w-20 h-2 rounded-full bg-primary mb-5 md:mb-6"></div>
      <h2 class="text-3xl md:text-4xl font-bold uppercase text-primary">{{ .Params.Title }}</h2>
    </div>
  </div>

  <div class="lg:grid grid-cols-12 gap-x-8">
    <section class="col-span-9 pr-0 md:pr-4">
      <div id="results" class="post-container grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-12">
        <p>Result: Not Found</p>
      </div>
    </section>

    {{ partial "blog-sidebar.html" . }}
  </div>
</main>
{{ end }}
