<script>
  window.store = {
      // You can specify your blog section only:
      {{ range .Site.RegularPages }}
      {{ $readTime := mul (div (countwords .Content) 220.0) 60 }} 
      {{ $formatDate := time.Format "January 2, 2006" .Date  }}
      // For all pages in your site, use "range .Site.Pages"
      // You can use any unique identifier here
      "{{ .Permalink }}": {
          // You can customize your searchable fields using any .Page parameters
          "title": "{{ .Title  }}",
          "thumbnail": "{{ .Params.Thumbnail  }}",
        //   "tags": [{{ range .Params.Tags }}"{{ . }}",{{ end }}],
        //   "category": "{{ .Params.Category }}",
        //   "content": {{ .Content | plainify }}, // Strip out HTML tags
          "url": "{{ .Permalink }}",
          "authorName": "{{ .Params.authorName }}",
          "authorImage": "{{ .Params.authorImage }}",
          "readTime": "{{ $readTime }}",
          "date": "{{ $formatDate }}"
      },
      {{ end }}
  }
  </script>
  <!-- Include Lunr and code for your search function,
  which you'll write in the next section -->
  <script src="/assets/js/lunr.js"></script>
  <script src="/assets/js/search.js"></script>