<article class="post-card">
  <a href="{{ .url }}" class="block relative rounded-lg aspect-[15/9] w-full overflow-hidden hover:opacity-90 transition">
    <img class="w-full h-full object-cover" src="{{ .thumbnail }}" alt="{{ .title }}" />
  </a>
  <a href="{{ .url }}" class="text-primary text-xl font-bold my-5 line-clamp-3 hover:opacity-80 transition">{{ .title }}</a>
  <div class="flex items-center gap-x-4">
    <img src="{{ .authorImage }}" class="rounded-full w-[44px] md:w-[55px] aspect-square object-cover" alt="{{ .authorName }}">
    <div>
      <h3 class="font-bold mb-2 text-sm md:text-base">{{ .authorName }}</h3>
      <div class="flex items-center gap-x-2 text-xs md:text-sm text-gray">
        <time>{{ time.Format "January 2, 2006" .date }} </time>
        -
        <p> {{ math.Floor (div .readTime 60) }} Mins Read</p>
      </div>
    </div>
  </div>
</article>
