<article class="post-card">
  {{ $title := .params.Title }}
  <div class="relative rounded-lg aspect-[16/12] w-full overflow-hidden">
    <img class="w-full h-full object-cover" src="{{ .params.Thumbnail }}" alt="{{ $title }}" />
    <div class="absolute inset-0 bg-gradient-to-t from-black/50 to-black/0"></div>
    <h2 class="block absolute bottom-4 left-5 text-white hover:opacity-80 tracking-wide text-base md:text-xl lg:text-2xl cursor-pointer capitalize">
      {{ $title }}
    </h2>
  </div>
  <div class="flex items-center gap-x-4 mt-4">
    {{ range .params.Tags }}
    <div class="bg-primary-gray rounded-lg px-4 md:px-5 py-2 md:py-3">#{{ . }}</div>
    {{ end }}
  </div>
</article>
